__pycache__/
.dockerignore
.DS_Store
.editorconfig
.env
.env.*
.env/
.eslintrc
.git
.git/
.gitattributes
.gitignore
.gitlab-ci.yml
.idea
.idea/
.venv/
.vscode/
*.log
*.pyc
# .env
bootstrap/cache
build/
CHANGELOG.md
coverage/
dist/
docker-compose.yml
docker-compose*yml
Dockerfile
logs
node_modules/
npm-debug.log*
README.md
storage/framework
storage/logs
Thumbs.db
vendor
venv/
yarn-debug.log*
yarn-error.log*
