version: "3"

services:
  redis:
    container_name: redis
    build: .
    ports:
      - 6655:6379
    env_file:
      - ./.env
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    restart: always
